<div class="item">
  <h4 class="item__route">
    Products > Product #{{ themeProduct.id }}
  </h4>
  <h3 class="item__name">Auto: {{ themeProduct.name }}</h3>
  <p class="item__desc">
    Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
    repellendus, quam quis ea repellat perferendis aliquam cupiditate odio
    nostrum delectus, ipsam libero magni officia maiores distinctio! Aspernatur
    suscipit velit error!
  </p>
  <p class="item__price">Price: {{ themeProduct.price | uaCurrency }}</p>
  <button class="btn-cart" (click)="cartHandle()">{{description}}</button>
  <button class="btn-back" (click)="goBack()">Go back</button>
</div>
