<header class="header">
    <div class="container">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link logo" href="#"></a>
          </li>
          <li class="nav__item">
            <a class="nav__link" (click)="goBack()">Products</a>
          </li>
          <li class="nav__item" (mouseenter)="visible = !visible">
            <a class="nav__link" (click)="goToCart()">Cart</a>
          </li>
          <app-cart-tooltip (mouseleave)="visible = !visible" *ngIf="visible"></app-cart-tooltip>
        </ul>
      </nav>
    </div>
  </header>
