<table class="table">
  <tr>
    <th (click)="handleID.emit()">ID</th>
    <th (click)="onNameSort()">
      Name
      <span *ngIf="nameSort">{{nameSort}}</span>
    </th>
    <th (click)="onPriceSort()">Price
      <span *ngIf="priceSort">{{priceSort}}</span>
    </th>
  </tr>

  <ng-container *ngIf="items">
    <tr *ngFor="let product of items let i = index">
      <td class="wrap-index">{{i + 1}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price | uaCurrency}}</td>
      <td class="wrap-btns">
        <button>edit</button>
        <button (click)="Delete(product.id)">delete</button>
      </td>
    </tr>
  </ng-container>
</table>
