.product-item {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  gap: 5px;
}

.product-price {
  margin-left: auto;
}

.product-btns {
  display: flex;
  gap: 5px;
}

.product-btn {
  padding: 5px 5px;
}
