<div class="cart">
  <ng-container *ngIf="products$ | async as products">
    <app-cart-item
      *ngFor="let product of products"
      [product]="product"
      (deleteClick)="delete(product)"
    ></app-cart-item>

    <div *ngIf="products.length">
      <p class="price">
        Total price:
        <span class="price-value">
          {{ price$ | async | uaCurrency  }}
        </span>
      </p>
    </div>

    <div *ngIf="!products.length">
      <p>The cart is empty. Please choise product</p>
    </div>
  </ng-container>
</div>
