.tooltip {
  position: absolute;
  left: 10px;
  top: 100px;
  padding: 15px;
  background-color: silver;
  border-radius: 25px;
}

.price {
  display: flex;
  justify-content: flex-end;
  margin-right: 150px;
}

.price-value {
  padding-left: 20px;
}
