/* You can add global styles to this file, and also import other style files */
@import './assets/style/reset.scss';

@font-face {
  font-family: Inter;
  src: url(assets/fonts/Inter-Regular.ttf) format("truetype");
}

* {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

body {
  margin: 0;
  color: #000;
}
