<h3 class="products-title">Products</h3>
<div class="table">
  <div class="table-filter">
    <mat-form-field class="filter__search">
      <mat-label>Search...</mat-label>
      <input #searchInput matInput type="text" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price:</mat-label>
      <mat-select [(ngModel)]="val" (selectionChange)="setSelect($event)">
        <mat-option value="more">More than</mat-option>
        <mat-option value="less">Less than</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Value</mat-label>
      <input #priceInput [(ngModel)]="password" matInput type="number" />
    </mat-form-field>
    <button (click)="clickApply()" class="apply">Apply</button>
  </div>
  <div class="table-list">
    <div class="table-header">
      <button class="add-product">Add</button>
    </div>
    <app-tables (handlePrice)="sortPrice()" (handleName)="sortName()" (handleID)="sortID()" [items]="items">
      <!-- <app-product-item *ngFor="let product of products | async" [product]="product"></app-product-item> -->
    </app-tables>
  </div>
</div>
