<header class="header">
  <div class="container">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link logo" href="#"></a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Products</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Cart</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main class="main">
  <section>
    <div class="container">
      <h2 class="section__title">Products</h2>
      <ul class="card__list">
        <li class="card__item" *ngFor="let el of dataArr">
          <p>{{el.name}}</p>
          <p class="card__price">{{el.price | currency}}</p>
          <button class="btn__card btn">Add to cart</button>
        </li>
      </ul>
      <button class="btn__load btn">Load more</button>
      <button class="btn__admin btn">Admin -></button>
    </div>
  </section>
</main>
